# Supabase Supavisor Session pooler, port 5432.
# Example:
# DATABASE_URL="postgres://prisma.[PROJECT_REF]:[PRISMA_PASSWORD]@[DB_REGION].pooler.supabase.com:5432/postgres"
DATABASE_URL=""
REDIS_URL=""
AMAP_API_KEY=""
NEXT_PUBLIC_AMAP_JS_API_KEY=""
NEXT_PUBLIC_AMAP_SECURITY_JS_CODE=""
OPENAI_API_KEY=""
